@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#8B55E9 0%, #5D6BE6 100%);
}

.wrapper{
    visibility: hidden;
    background: white;
    width: 30em;
    border-radius: 1em;
    box-shadow: 0 1.2em 3.5em rgba(0,0,0,0.1);
}

.menu{
    padding: 1em 1.2em;
}

.item{
    list-style: none;
    font-size: 2.2em;
    height: 2.5em;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
    padding: 0 0.5em 0 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item span{
    margin-left: 0.8em;
    font-size: 0.8em;
}

.item:hover{
    background: #f2f2f2;
}

.settings{
    display: flex;
    padding: 0.5em 1.2em;
    border-top: 0.1em solid #ccc;
}

.share {
    position: relative;
    justify-content: space-between;
}

.share .share-menu .item{
    font-size: 1em;
}

.share-menu{
    position: absolute;
    background:white;
    width: 10em;
    right: -10em;
    top: 0em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.08);
    border-radius: 0.5em;
    padding: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.share:hover .share-menu{
    opacity: 1;
    pointer-events: auto;
}

